.venv/
__pycache__/
*.pyc

data/input_videos/*
data/output_videos/*
results/flow_vis/*
results/frames_compare/*
results/trajectories/*
results/logs/*
results/metrics.csv
weights/*.pth
weights/*.pt

!data/input_videos/.gitkeep
!data/output_videos/.gitkeep
!results/flow_vis/.gitkeep
!results/frames_compare/.gitkeep
!results/trajectories/.gitkeep
!results/logs/.gitkeep
!weights/README.md
